<div class="background-black">
  <div class="container">
    <div class="container-main">
      <h1 class="container-main_center">Password Generator</h1>
      <div class="container-main_length">
        <label>Enter Length</label>
        <input />
      </div>
      <div class="container-main_checkbox">
        <label>Use Letter</label>
        <input type="checkbox" />
      </div>
      <div class="container-main_checkbox">
        <label>Use Numbers</label>
        <input type="checkbox" />
      </div>
      <div class="container-main_checkbox">
        <label>Use Symbole</label>
        <input type="checkbox" />
      </div>
      <div class="container-main-button">
        <button class="btn-primary" (click)="onButtonClick()">Generate</button>
      </div>
      <div class="container-main-yourpassword">
        <label>Your Password</label>
        <input [value]="password" />
      </div>
    </div>
  </div>
</div>
